<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>::Game 1::</title>
    <link href="../../assets/game1.css" rel="stylesheet" type="text/css">
  <link href="../../assets/bootstrap.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="page-content">

  <%

  %>
  <div class="container centered" align="center">
    <div class="span4 message-box center">
      <div class="text-center">
        <div class="question">
          <h2>Pregunta</h2>
        </div>
      </div>
    </div>
    <form>
      <div class="span4 message-box center">
        <div class="text-center">
          <div class="answer">

            <input type="radio" name="answer" value="1"> <h4>Respuesta 1</h4>
          </div>
          <div class="answer">
            <input type="radio" name="answer" value="1"> <h4>Respuesta 2</h4>

          </div>
          <div class="answer">
            <input type="radio" name="answer" value="1"> <h4>Respuesta 3</h4>

          </div>
          <div class="answer">
            <input type="radio" name="answer" value="1"> <h4>Respuesta 4</h4>

          </div>
        </div>



        <div class="span4 message-box center">
          <div class="text-center">
            <div class="question">
              <h4>
                <input type="submit">
              </h4>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div class="span4 message-box center" align="center">
    <div class="text-center">
      <div class="question">
        <h3 id="timer">
          <span id="timer-minutes">00</span>:<span id="timer-seconds">00</span>
        </h3>
      </div>
    </div>
  </div>

</div>

<!--Scripts-->
<script src="../../assets/game1.js"></script>


</body>
</html>