<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>DEAL-TRIVIA</title>
  <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../assets/results.css" rel="stylesheet" type="text/css">


</head>
<body>
<div id="container">
<div id="title" align="center">Terminaste el Deal-Trivia!!!</div>
<div class="spacer"></div>
<table align="center">
  <tr>
    <div id="respuestasCorrectas">
      <td> <label class="label" id="lblResp">Respuestas Correctas</label></td>
      <td> <label class="numero" id="nroResp"><%= @score %>/5 </label></td>
    </div>
  </tr>
  <tr>
    <div id="tiempoUtilizado">

      <td>
        <br>
        <br>
        <label class="label" id="lblTiempo">Tiempo Utilizado</label>
      </td>
      <td>
        <br>
        <br>
        <label class="numero" id="nroTiempo"><%= @time %> seg.</label>
      </td>
    </div>
  </tr>
</table>
</div>
</body>
</html>