<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>::Game 1::</title>
  <link href="../../assets/game1.css" rel="stylesheet" type="text/css">
  <link href="../../assets/alertify.bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../../assets/alertify.core.css" rel="stylesheet" type="text/css">
  <link href="../../assets/alertify.default.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="page-content">


  <input type="hidden" id="questions" value="<%= @questions.as_json %>">

  <div class="container">
    <div class="show-quiz">
      <%= form_tag "/first_games/results" do %>
          <div class="span4 message-box center" style="opacity: 0.7">
            <h2 id="question" style="text-align: center"></h2>
          </div>
          <!--<div class="span4 message-box center" style="opacity: 0.7">-->
          <div class="span4 message-box center" style="opacity: 0.7">
            <input type="radio" name="answer" value="1" id="ans1"> <label for="ans1"><h4 style="text-align: center" id="rta1"></h4></label>
          </div>

          <div class="span4 message-box center" style="opacity: 0.7">
            <input type="radio" name="answer" value="1" id="ans2"> <label for="ans2"><h4 style="text-align: center" id="rta2"></h4></label>
          </div>

          <div class="span4 message-box center" style="opacity: 0.7">
            <input type="radio" name="answer" value="1" id="ans3"> <label for="ans3"><h4 style="text-align: center" id="rta3"></h4></label>
          </div>

          <div class="span4 message-box center" style="opacity: 0.7">
            <input type="radio" name="answer" value="1" id="ans4"> <label for="ans4"><h4 style="text-align: center" id="rta4"></h4></label>
          </div>

          <div class="answer" hidden>
            <input type="radio" name="answer" value="1" id="ans0">
          </div>

          </div>


          <button style="background: #48F0AD; align: center "  type="button"
                  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="next">Siguiente</button>

          </div>

          <br>

          <h2 id="timer">
            <div class="span4 message-box center" style="opacity: 0.7 ; text-align: center ">
              <span id="timer-minutes">00</span>:<span id="timer-seconds">00</span>
              <input type="text" class="hidden" name="time" id="time">
              <input type="text" class="hidden" name="score" id="score">
            </div>

          </h2>
          <br>

          <div class="submit" hidden>
            <input type="submit" id="submitBt">
          </div>
          </div>
      <% end %>
      </div>


      </div>


      <!--Scripts-->
      <script src="../../assets/game1.js"></script>
      <script src="../../assets/game1logic.js"></script>
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="../../assets/alertify.min.js"></script>


      </body>
</html>