<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><DEAL-TIONARY></DEAL-TIONARY></title>
</head>
<body>
<div class="container" id="main-game2">
    <div id="centered-content">
        <h1 id="deal-tionary">DEAL-TIONARY</h1>
        <button type="button" class="btn btn-danger btn-large" id="btn-begin" >Empezar!</button>
    </div>
</div>
</body>
</html>