<!--html usado para probar el javascript que contiene la logica del juego-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
  <meta charset="UTF-8">
  <title>DEAL-TIONARY</title>
</head>
<body>
<div id="container">
  <div id="user_question">
    <label id="question"></label>
  </div>
  <div id ="image">
    <img id="question_image">
  </div>
  <div id="user_answer">
    <input id="answer">
  </div>
  <div id="button_panel">
    <button id="check" class="btn btn-success">Check!</button>
    <button hidden id="next">Next</button>
  </div>
  <label hidden id="correct">
    Respuesta Correcta!
  </label>
  <label hidden id="incorrect">
    Respuesta Incorrecta!
  </label>
</div>


</body>
</html>