<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

<body>
<div class="wrapper-padding">

  <div class="wrapper">
    <article>

      <div id="myTabContent" class="tab-content">

        <div class="tab-pane active" id="ofertas">

          <label class="pull-left"><h5>Ofertas publicadas por mes de este año</h5></label>

          <div id="ofertasChart" style="height: 310px;"></div>

        </div>
        <!--end myTabContent-->

        <div class="tab-pane active" id="inscripciones">

          <label class="pull-left"><h5>Inscripciones a ofertas por mes de este año</h5></label>

          <div id="inscripcionesChart" style="height: 310px;"></div>

        </div>
        <!--end myTabContent-->

      </div>

    </article>

  </div>
  <!--end wrapper-->
</div>


</body>
<script>

    //EMPRESA
    new Morris.Bar({
        element: 'ofertasChart',
        data: [
            <% @offers_published.each do |a| %>
            { y:'<%= a[0]%>', a:<%= a[1]%> },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Ofertas'],
        barColors: ['orange']
    });

    //CLIENTE
    new Morris.Bar({
        element: 'inscripcionesChart',
        data: [
            <% @client_offers.each do |a| %>
            { y:'<%= a[0]%>', a:<%= a[1]%> },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Inscripciones'],
        barColors: ['orange']
    });

</script>
