#wrapper {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;

    position: relative;
    background-image: url('bgTexture.png') ;
    font-size: 1.5em;
}

#title{
    font-size: 2.5em;
    color: #000066;
}

.spacer{
    margin-top: 7%;
}

.texto{
    font-size: 1.5em;
    color: #000000;
}

.numero{
    font-size: 2em;
    color: #FF9900;
    margin-left: 200%;
}

#resGral{
    font-size: 2em;
    color: #b33c33;
    position: relative;
    left: 75%;
}

.wrapper-text{
    margin-top: 15%;
    margin-bottom: 15%;
    display: block;
}
