.show-quiz div.question h1{
    top:50%;
    left: 50%;
    margin: 10px 380px;
    text-align: center;
    color: #061117;
    width: 600px;
    /*background: #ffff00;*/
}

#question_image{
    height: 300px;
    width: 500px;
    margin: 10px 220px;
}

.show-quiz div.answer input:focus{
    box-shadow: 0 0 5px #a5e7f4;
    border: none;
    padding: 10px;

}

.show-quiz div.answer input{
    padding: 10px;
    width: 80%;
    border-radius: 5px ;
    border: solid 1px #dadada;
    margin: 0px 80px;
}


.show-quiz div.timer{
    color: green;
    margin: 0px 440px;
}

#next{
    background: -webkit-linear-gradient(#20d1ff, #1cb3d9); /* For Safari 5.1 to 6.0 */!important;
    background: -o-linear-gradient(#20d1ff, #1cb3d9); /* For Opera 11.1 to 12.0 */!important;
    background: -moz-linear-gradient(#20d1ff, #1cb3d9); /* For Firefox 3.6 to 15 */ !important;
    background: linear-gradient(#20d1ff, #1cb3d9); /* Standard syntax */!important;
    padding: 5px;
    color: black;
    border: none;
    border-radius: 5px;
    margin:10px 445px;
}

.show-quiz div.centered{
    display: block;
    margin: auto;
}
.show-quiz div.hidden, input.hidden{
    display: none;
}

